{
  "extends": ["wesbos"],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["~/"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ],
    "react/prop-types": "off"
  }
}
