{
  "extends": ["wesbos"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ]
  }
}
